@charset "utf-8";

body {
    font-family: sans-serif;
    background-color: white;
}

form {
    padding: 10px;
}

.btn {
    background-color: #767676;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s;
    margin: 10px;
}

.btn:hover {
    opacity: .8;
}

.btn:active {
    opacity: .5;

}

/* forms */

input {
    width: 95%;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 1px black solid;
}

.lblBtn {
    display: flex;
    justify-content: center;
}

.btnSubmit {
    width: 30%;
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(1, 227, 1);
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}

.btnSubmit:hover {
    opacity: .6;
}

.btnSubmit:active {
    opacity: .3;
}

/* resultado nota fiscal */
.some {
    display: none;
}

/* listagem de todas as notas */

.lista_de_notas {
    border-radius: 10px;
    border: 2px solid black;
    width: 60%;
    text-align: center;
    margin: 10px auto;
}

.id_bg {
    text-align: center;
    padding: 5px;
    background-color: rgb(154, 154, 154);
    height: 20px;
    /* width: 100%; */
}